html {
    height: 100%;
    width: 100%;
}

.register {
    height: 100%;
}

div#app {
    height: 100%;
}

.registerForm {
    display: flex;
    width: 100%;
    height: 100%;
}
  
body {
    width: 100%;
    height: 100%;
    margin: 0px;
}
  
.block1 {
    width: 50%;
    height: 100%;
    background-color: #FEA701;
    text-align: center;
    color: black;
}
  
.block2 {
    width: 50%;
    font-family: Roboto;
}
  
.block1 img {
    width: 85%;
    padding-top: 0%;
    margin: 80px 0px 0px 0px;
}
  
.block1 h1{
    font-family: Pattaya;
    font-size: xxx-large;
    margin-top: 4px;
}
  
.buttons {
    text-align: right;
    padding-right: 9%;
    padding-top: 5%;
}
  
button.button5 {
    border-radius: 5px;
    font-size: inherit;
    font-style: normal;
    font-weight: 600;
    background: rgb(254 167 1);
    cursor: pointer;
    height: 40px;
    width: 100px;
    border: solid rgb(254 167 1) 2px;
    font-family: Roboto;
    margin-left: 10px;
}
  
button.button4 {
    border-radius: 5px;
    font-size: inherit;
    font-style: normal;
    font-weight: 600;
    background: white;
    cursor: pointer;
    height: 40px;
    width: 115px;
    border: solid black 2px;
    
    font-family: Roboto;
}
  
.form h2 {
    font-size: xx-large;
    text-align: left;
    color: black;
}
  
.form {
    padding-left: 9%;
    padding-top: 5%;
}
  
.register_form {
    display: grid;
    width: 90%;
    margin: 0%;
}
  
input {
    margin-top: 20px;
    border-radius: 10px;
    font-size: inherit;
    font-style: normal;
    font-weight: 500;
    cursor: auto;
    height: 100%;
    background-color: white;
    border-color: black;
    padding-left: 20px;
    font-family: Roboto;
}
  
button.button3 {
    margin-top: 50px;
    border-radius: 10px;
    font-style: normal;
    font-weight: 600;
    cursor: pointer;
    height: 60px;
    border-color: black;
    padding-left: 20px;
    background-color: black;
    font-size: x-large;
    color: white;
    font-family: Roboto;
    transition-duration: 0.5s;
}
  
.privacy_register {
    text-align: center;
    width: 80%;
    margin-left: 9%;
}
  
p {
    color: grey;
}
  
a {
    color: deepskyblue;
}
  
a:hover {
    cursor: pointer;
    text-decoration: underline;
} 
  
input:focus {
    outline: none;
}
  
button.button4:hover {
      background-color: black;
      color: rgb(254 167 1);
}
  
button.button5:hover {
      background-color: black;
      color: rgb(254 167 1);
      border: solid black 2px;
}
  
button.button3:hover {
      background-color: rgb(254 167 1);
      color: black;
      border:solid rgb(254 167 1) 1px;
      transition-duration: 0.5s;
}
  
input.name {
      width: 25%;
      margin-right: 10px;
}
  
.fullname {
      text-align: left;
}
  
input.surname {
      width: 65%;
}
  
a.tos_pol {
      color: black;
      cursor: pointer;
      text-decoration: underline;
      font-weight: 500;
}

p.avisoPwd {
    color: red;
    text-align: left;
    margin-bottom: -35px;
}